.borderquran {
                    width: auto ;
                    margin:auto;
                    border: 60px solid transparent;
      -webkit-border-image: url('../img/border-quran-red.png'); /* Safari 3.1-5 */
        -o-border-image: url('../img/border-quran.png') 100 round; /* Opera 11-12.1 */
        border-image: url('../img/border-quran1.jpg') 100 round;
        padding:20px;

    }