
@font-face {
    font-family: "PDMS_IslamicFont";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/PDMS_IslamicFont.eot?#iefix") format("embedded-opentype"), url("../fonts/PDMS_ISLAMICFONT.ttf") format("truetype"), url("../fonts/PDMS_ISLAMICFONT.ttf") format("truetype");
}
@font-face {
    font-family: "_PDMS_Saleem_QuranFont8.eot";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/PDMS_Saleem_QuranFont8.eot?#iefix") format("embedded-opentype"), url("../fonts/PDMS_SALEEM_QURANFONTQESHIP_0.ttf") format("truetype"), url("../fonts/PDMS_SALEEM_QURANFONTQESHIP_0.ttf") format("truetype");
}

.staticWord {
    padding: 0.2em 0.3em;
    
}
.word {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
    
}
 
.rtl {
    direction: rtl;
    
}

.second {
    display: block;
    font-size: 12px;
}

.staticWord .first, .staticWord .second {
    text-align: center;
}

.quranText {
    font-size: 300%;
    font-weight: bold; 
    
}

.latin {
    font-size: 200%; 
    
}

 

#myAudio {
    display: none;
}

span .audio_span{
    margin: 0px 10px;
}
.playing {
    background: #b2e7d3 none repeat scroll 0 0;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    background: transparent none repeat scroll 0 0 !important;
    border: 0 none !important;
    border-radius: 4px !important;
    box-shadow: none;
    color: #666;
    font-family: sans-serif;
    font-size: 100%;
    height: 34px !important;
    line-height: normal;
    margin: 1px 0;
    outline: 0 none;
    padding: 5px;
}

.Arabic-IndoPak {
    direction: rtl;
    font-family: "_PDMS_Saleem_QuranFont","_PDMS_Saleem_QuranFont8.eot",Tahoma,Arial;
    font-style: normal;
    font-weight: normal;
    line-height: 200%;
    margin: 0;
    padding: 0;
}

 .Arabic-IndoPak {
    direction: rtl;
    font-family: "_PDMS_Saleem_QuranFont","_PDMS_Saleem_QuranFont8.eot",Tahoma,Arial;
    font-style: normal;
    font-weight: normal; 
    font-size:45px;
}

 

.breadcrumb
{
    background:url(../images/maxresdefault.jpg);
     
}

.text-dark{
    color:#000 !important;
}
